Saved/*
Intermediate/*
Build/*
!Build/Android/res/*
!Build/Android/gradle/*
Binaries/Android/*
!Plugins/UE4GitPlugin-2.17-beta/Binaries
ipch/*
DerivedDataCache/*
*.vs
.vs/*
*.suo
*.VC.VC.opendb
*.VC.db
*.sln
.idea/*
desctop.ini
.xcworkspace/*
*.pdb
*.exe
Plugins/**/*.pdb
Plugins/**/Intermediate/**
Plugins/**/Intermediate/**/*
!Plugins/UE4GitPlugin-2.17-beta/Binaries/Win64/UE4Editor.modules
!Plugins/gitcentral/GitCentral/Intermediate
!*.dll
!UE4Editor.modules
LocalDerivedDataCache/*

.gitignore.bak
Binaries/Win64/UE4Editor-VRBase.exe.exp
Binaries/Win64/VRBaseEditor.target
Binaries/Win64/UE4Editor-VRBase.exe.lib
Content/Maps/TEst/L_Test_01_BuiltData.uasset
